.main-product {
  display: flex;
  align-items: flex-start;
}

.side-menu {
  background-color: rgb(from var(--color-grey) r g b / 0.15);
  /* flex-grow: 0; */
  height: auto;
  max-width: 20vw;
  margin: 4rem auto;
  padding: 1rem;
  border-radius: 0.5rem;

  & ul {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
  }

  & li {
    background-color: var(--color-white);
    padding: 1rem;

    & a {
      font-weight: 800;
      opacity: 0.9;
    }

    &:hover {
      background-color: var(--color-grey);
      & a {
        color: var(--color-white);
        opacity: 1;
      }
    }
  }
}

.products {
  flex-grow: 1;
}

.cart {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  width: 40vw;
  height: 100vh;
  position: fixed;
  top: 80px;
  right: 0;
  padding: 20px;

  transition: all 0.2s;

  & .cart-top {
    display: flex;
    justify-content: space-between;

    & .cart-title {
      font-size: 1.5rem;
      font-weight: 800;
    }

    & button {
        width: auto;
        padding: 0 1rem;
    }
  }

  &.closed {
    right: -40vw;
  }
}

.cart-items {
}

.cart-item {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(from var(--color-grey) r g b / 0.15);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 0 0.5rem;

  & img {
    width: 20%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 1rem;
  }

  & .cart-details {
    text-align: left;
    flex-grow: 1;
    align-self: start;

    & .cart-name {
      /* font-size: 1.5rem; */
    }

    & .cart-price {
      font-size: 1.5rem;
      font-weight: 700;
      color: var(--color-red);
    }
  }

  & .cart-qty {
    display: flex;
    align-items: center;
    --line-height: 2rem;
    line-height: var(--line-height);

    & button {
      padding: 0 1rem;
      /* font-size: 1.5rem; */
      font-weight: 800;
      height: var(--line-height);
    }

    & span {
      text-align: center;
      font-weight: 700;
      /* font-size: 1.5rem; */
      margin: 1rem;
    }
  }
}

.cart-footer {
  & p {
    text-align: right;
    margin-top: 1rem;
    margin-bottom: 0.5rem;

    & span {
      font-weight: 800;
      color: var(--color-red);
      font-size: 1.5rem;
    }
  }
}

button {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--color-main-500);
  font-weight: bold;
}
