.main-product {
  display: flex;
  align-items: flex-start;
}

.side-menu {
  height: auto;
  max-width: 20vw;
  margin: 4rem auto;

  .filter-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 1rem;
    background: #fff;
    border: 1px solid #eee;
    font-weight: 600;

    &:hover {
      background-color: var(--color-main-400);
      /* & span {
        color: var(--color-white);
      } */
    }
  }

  .filter-content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-out;
    overflow: hidden;
  }

  .filter-container.active .filter-content {
    grid-template-rows: 1fr;
  }

  .content-inner {
    min-height: 0; /* Required for the grid trick to work */
    padding: 0.5rem;
    display: grid;
    grid-template-rows: auto;
    gap: 0.5rem;

    & label {
      padding: 0.5rem;

      &:hover {
        background-color: #fff;
      }
    }

    & input[type="checkbox"] {
      margin-right: 0.5rem;
    }
  }
}

.products {
  flex-grow: 1;
}

.cart {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  width: 40vw;
  height: calc(100dvh - var(--nav-height));
  position: fixed;
  top: 80px;
  right: 0;
  padding: 20px;
  overflow: auto;

  transition: all 0.2s;

  & .cart-top {
    display: flex;
    justify-content: space-between;

    & .cart-title {
      font-size: 1.5rem;
      font-weight: 600;
    }

    & button {
      width: auto;
      padding: 0 1rem;
    }
  }

  &.closed {
    right: -40vw;
  }
}

.cart-items {
}

.cart-item {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(from var(--color-grey) r g b / 0.15);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 0 0.5rem;

  & img {
    width: 20%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 1rem;
  }

  & .cart-details {
    text-align: left;
    flex-grow: 1;
    align-self: start;

    & .cart-name {
      /* font-size: 1.5rem; */
    }

    & .cart-price {
      font-size: 1.5rem;
      font-weight: 600;
      color: var(--color-red);
    }
  }

  & .cart-qty {
    display: flex;
    align-items: center;
    --line-height: 2rem;
    line-height: var(--line-height);

    & button {
      padding: 0 1rem;
      /* font-size: 1.5rem; */
      font-weight: 600;
      height: var(--line-height);
    }

    & span {
      text-align: center;
      font-weight: 600;
      /* font-size: 1.5rem; */
      margin: 1rem;
    }
  }
}

.cart-footer {
  & p {
    text-align: right;
    margin-top: 1rem;
    margin-bottom: 0.5rem;

    & span {
      font-weight: 600;
      color: var(--color-red);
      font-size: 1.5rem;
    }
  }
}

button {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--color-main-500);
  font-weight: 600;
}

@media (max-width: 576px) {
  .side-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80dvw;
    height: 100%;
    background: var(--color-white);
    z-index: 1000;
    transition: right 0.3s ease-in-out;
    padding: 1rem;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  }

  .side-menu.open {
    right: 0;
  }

  .filter-toggle {
    display: block;
  }
}