@import url(./reset.css);

:root {
  --nav-height: 80px;
  --color-main-100: #fff3d1;
  --color-main-200: #ffe5a3;
  --color-main-300: #ffd775;
  --color-main-400: #ffc847;
  --color-main-500: #ffba08;
  --color-main-600: #d69c00;
  --color-main-700: #ad7e00;
  --color-main-800: #856000;
  --color-main-900: #5c4300;
  --color-black: #1f2020;
  --color-white: #f3f3f3;
  --color-grey: #888888;
  --color-red: #e21818;
}

body {
  min-height: 100dvh;
  background-color: var(--color-white);
  position: relative;
}

a {
  color: var(--color-black);
  display: block;
}

header {
  margin-top: var(--nav-height);
}

section {
  /* padding: 2rem 0; */
  width: 100%;
}

h2 {
  font-size: 24px;
}

.products-row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem auto 4rem;
  width: 90%;

  & .products-row-info {
    display: flex;
    justify-content: space-between;
    font-weight: 700;

    & a {
      color: var(--color-red);
    }
  }

  & .products-row-items {
    /* display: flex; */

    /* !!!!!adjust for odd numbers later!!!!! */
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    & .products-row-item {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      justify-content: space-between;
      /* margin: 0.5rem; */
      /* border: 1px solid red; */
      border-radius: 1rem;
      background-color: #fff;
      overflow: hidden;

      & .products-row-item-top {
        & img {
          /* border-radius: 1rem 1rem 0 0; */
          /* border: 1px solid red; */
          width: 100%;
          /* height: auto; */
          aspect-ratio: 1/1;
          object-fit: cover;
          display: block;
        }

        .products-row-item-texts {
          padding: 0.5rem;
          padding-bottom: 1rem;
          /* justify-self: start; */

          display: flex;
          justify-content: space-between;
          gap: 0.5rem;
          font-weight: bold;

          & .item-price {
            color: var(--color-red);
          }

          /* none */
          & .products-row-item-desc {
            color: var(--color-grey);
          }
        }
      }

      & .buy {
        margin: 0 auto 0.5rem;
        width: calc(100% - 1rem);
      }
    }
  }
}
