header {
  margin: 0;
}

.hero {
  min-height:
        /* calc(100vh - var(--nav-height)); */
        80vh;
        /* calc( 80vh - var(--nav-height) ); */
  background-color: var(--color-main);
  background-image: url(../images/crochet-header3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  /* position: relative; */
}

.faq {
}

.feed {
}

.show {
  display: block;
}
