/* 基礎容器樣式 */
main {
    max-width: 90dvw;
    /* padding-right: 0.5rem;
    padding-left: 0.5rem; */
    margin-right: auto;
    margin-left: auto;
  }
  /* 小螢幕 (超小設備, < 576px) */
  /* @media (max-width: 575.98px) {
    main {
      max-width: 100%;
    }
  } */
  /* 中小螢幕 (小型設備, >= 576px) */
  /* @media (min-width: 576px) {
    main {
      max-width: 540px;
    }
  } */
  /* 中螢幕 (中型設備, >= 768px) */
  /* @media (min-width: 768px) {
    main {
      max-width: 720px;
    }
  } */
  /* 大螢幕 (大型設備, >= 992px) */
  /* @media (min-width: 992px) {
    main {
      max-width: 960px;
    }
  } */
  /* 超大螢幕 (超大型設備, >= 1200px) */
  /* @media (min-width: 1200px) {
    main {
      max-width: 1140px;
    }
  } */
  /* 超寬螢幕 (極大型設備, >= 1400px) */
  /* @media (min-width: 1400px) {
    main {
      max-width: 1320px;
    }
  } */
