nav {
  height: var(--nav-height);
  background-color: var(--color-main-500);
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  box-shadow: 0 5px 10px var(--color-grey);

  h3 {
    font-size: var(--p);
  }

  .nav-menu {
    display: flex;

    & .nav-links,
    .nav-icons {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      /* gap: clamp(10px, 2dvw, 1rem); */
      height: var(--nav-height);

      & li {
        display: flex;

        & a {
          display: flex;
          align-items: center;
          padding: 0 clamp(10px, 1dvw, 1rem);
          text-align: center;
          width: 100%;
          height: 100%;

          .bi {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            line-height: 0;
            vertical-align: unset;
          }
        }

        &:hover {
          background-color: rgb(from var(--color-white) r g b / 0.5);
        }

        #hamburger {
          display: none;
        }
      }
    }

    #cart {
      position: relative;
    }

    .cart-badge {
      display: inline-block;
      position: absolute;
      top: 15%;
      right: 0;
      background-color: rgb(from var(--color-main-700) r g b / 0.7);
      color: var(--color-white);
      border-radius: 50%;
      padding: 6px 6px;
      font-size: 0.7rem;
      font-weight: bold;
      min-width: 18px;
      aspect-ratio: 1 / 1;
      text-align: center;

      opacity: 0;

      &.show {
        opacity: 1;
      }

      &.bump {
        animation: pop 0.3s ease-out;
      }
    }

    @media (max-width: 768px) {
      .nav-links {
        position: absolute;
        top: var(--nav-height);
        right: -100%;
        z-index: 99;
        height: auto;
        background-color: var(--color-white);
        flex-direction: column;
        padding: 0.5rem;
        width: 50dvw;
        transition: 0.3s right ease-in-out;

        :not(:last-child) {
          border-bottom: 0.5px solid var(--color-main-500);
        }

        li:last-child {
          background-color: var(--color-main-500);
        }

        li {
          padding: 1.5rem;
        }
      }

      .nav-links.open {
        right: 0;
      }

      .nav-icons li #hamburger {
        display: flex;
      }
    }
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
