nav {
  height: var(--nav-height);
  background-color: var(--color-main-500);
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  box-shadow: 0 5px 10px var(--color-grey);

  & .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    & li {
      & a {
        line-height: var(--nav-height);
        padding: 0 1rem;

        &:hover {
          background-color: rgb(from var(--color-white) r g b / 0.5);
        }

        & i {
          font-size: 1.5rem;
          line-height: var(--nav-height);
        }
      }
    }
  }
}
